.col-md-12
  .media
    .media-left
      %a{:href => "#"}
        %img.media-object{:alt => "64x64", "data-holder-rendered" => "true", "data-src" => "holder.js/64x64", :src => "#{comment.user.avatar}", :style => "width: 64px; height: 64px;"}/
    .media-body
      %h4#top-aligned-media.media-heading
        = comment.user.name
        %a.anchorjs-link{:href => "#top-aligned-media"}
          %span.anchorjs-icon
      %p 
        =comment.comment